
@{
    ViewData["Title"] = "StudentCourses";
}

<h1>StudentCourses</h1>

<div id="ContentPlaceHolder1_courseInstance" class="row">       <div class="col-4">
            <!--begin::Nav Panel Widget 4-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url('https://www.freecodecamp.org/news/content/images/size/w2000/2021/08/chris-ried-ieic5Tq8YMk-unsplash.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Title-->
                                <div class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1" id="A1" runat="server">Introduction to HTML5</div>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="font-weight-bold text-dark-50 font-size-md pb-7" data-toggle="popover" data-placement="top" data-content="This course will appeal to a wide variety of people, but specifically those who would like a step-by-step description of the basics. There are no prerequisites for this course and it is assumed that students have no prior programming skills or IT experience. The course will culminate in a small final project that will require the completion of a very simple page with links and images. The focus of this course is on the basics, not appearance. You can see a sample final page at http://intro-webdesign.com/html5-plain.html.  " data-original-title="" title="">
                                <div class="trunc">
                                <style>
                                .trunc{
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    max-width: 250px;
                                    margin-bottom: -10px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    height:56px;
}
                                </style>
                                This course will appeal to a wide variety of people, but specifically those who would like a step-by-step description of the basics. There are no prerequisites for this course and it is assumed that students have no prior programming skills or IT experience. The course will culminate in a small final project that will require the completion of a very simple page with links and images. The focus of this course is on the basics, not appearance. You can see a sample final page at http://intro-webdesign.com/html5-plain.html.  
                                </div>
                                </div>
                                <div class="font-weight-bold text-dark-75 text-hover-primary font-size-h6 m-0 pt-7 pb-1">10/30/2021 - 10/30/2024</div>
                                <div class="font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1"><a href="student-chat-view.aspx">Relebogile Baleni</a></div>
                                <!--end::Text-->
                            </div>
                            <!--end::Header-->
                            <!--
                            <!--begin::Body-->
                            
                            <!--end::Body-->
                            
                        </div>
                        <!--eng::Container-->
                        <!--begin::Footer-->
                        <div class="d-flex flex-center" id="kt_sticky_toolbar_chat_toggler">
                          <a class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" data-target="#kt_chat_modal" asp-controller= "Topics" asp-action="Topics">View Course</a>
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Nav Panel Widget 4-->
        </div>       <div class="col-4">
            <!--begin::Nav Panel Widget 4-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url('https://www.freecodecamp.org/news/content/images/size/w2000/2021/08/chris-ried-ieic5Tq8YMk-unsplash.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Title-->
                                <div class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1" id="A1" runat="server">Introduction to CSS3</div>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="font-weight-bold text-dark-50 font-size-md pb-7" data-toggle="popover" data-placement="top" data-content="When done correctly, the styling of a webpage can take enhance your page.   When done incorrectly the result can be worse than no styling at all.    To ensure that your sites do not put up  barriers for people with cognitive and/or physical disabilities, you will learn how to evaluate pages using the standardized POUR accessibility guidelines." data-original-title="" title="">
                                <div class="trunc">
                                <style>
                                .trunc{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 250px;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:56px;
}
                                </style>
                                When done correctly, the styling of a webpage can take enhance your page.   When done incorrectly the result can be worse than no styling at all.    To ensure that your sites do not put up  barriers for people with cognitive and/or physical disabilities, you will learn how to evaluate pages using the standardized POUR accessibility guidelines.
                                </div>
                                </div>
                                <div class="font-weight-bold text-dark-75 text-hover-primary font-size-h6 m-0 pt-7 pb-1">10/30/2021 - 10/30/2024</div>
                                <div class="font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1"><a href="student-chat-view.aspx">Relebogile Baleni</a></div>
                                <!--end::Text-->
                            </div>
                            <!--end::Header-->
                            <!--
                            <!--begin::Body-->
                            
                            <!--end::Body-->
                            
                        </div>
                        <!--eng::Container-->
                        <!--begin::Footer-->
                        <div class="d-flex flex-center" id="kt_sticky_toolbar_chat_toggler">
                          <a class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" data-target="#kt_chat_modal" asp-controller= "Topics" asp-action="Topics">View Course</a>
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Nav Panel Widget 4-->
        </div>       <div class="col-4">
            <!--begin::Nav Panel Widget 4-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url('https://www.freecodecamp.org/news/content/images/size/w2000/2021/08/chris-ried-ieic5Tq8YMk-unsplash.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Title-->
                                <div class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1" id="A1" runat="server">Introduction to Javascript</div>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="font-weight-bold text-dark-50 font-size-md pb-7" data-toggle="popover" data-placement="top" data-content="This Specialization is intended for the learner with no previous programming experience or the career changer transitioning to software development. JavaScript is generally the first programming language you will need to learn and this Specialization will help you practice and build your skills through a gentle progression of modules and courses. " data-original-title="" title="">
                                <div class="trunc">
                                <style>
                                .trunc{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 250px;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:56px;
}
                                </style>
                                This Specialization is intended for the learner with no previous programming experience or the career changer transitioning to software development. JavaScript is generally the first programming language you will need to learn and this Specialization will help you practice and build your skills through a gentle progression of modules and courses. 
                                </div>
                                </div>
                                <div class="font-weight-bold text-dark-75 text-hover-primary font-size-h6 m-0 pt-7 pb-1">10/30/2021 - 10/30/2024</div>
                                <div class="font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1"><a href="student-chat-view.aspx">John Lecturer</a></div>
                                <!--end::Text-->
                            </div>
                            <!--end::Header-->
                            <!--
                            <!--begin::Body-->
                            
                            <!--end::Body-->
                            
                        </div>
                        <!--eng::Container-->
                        <!--begin::Footer-->
                        <div class="d-flex flex-center" id="kt_sticky_toolbar_chat_toggler">
                          <a class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" data-target="#kt_chat_modal" asp-controller= "Topics" asp-action="Topics">View Course</a>
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Nav Panel Widget 4-->
        </div>       <div class="col-4">
            <!--begin::Nav Panel Widget 4-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url('https://www.freecodecamp.org/news/content/images/size/w2000/2021/08/chris-ried-ieic5Tq8YMk-unsplash.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Title-->
                                <div class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1" id="A1" runat="server">New Course</div>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="font-weight-bold text-dark-50 font-size-md pb-7" data-toggle="popover" data-placement="top" data-content="Course added from the lecturer end" data-original-title="" title="">
                                <div class="trunc">
                                <style>
                                .trunc{
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        max-width: 250px;
                                        margin-bottom: -10px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        height:56px;
                                    }
                                </style>
                                Course added from the lecturer end
                                </div>
                                </div>
                                <div class="font-weight-bold text-dark-75 text-hover-primary font-size-h6 m-0 pt-7 pb-1">9/6/2021 - 1/19/2022</div>
                                <div class="font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1"><a href="student-chat-view.aspx">John Lecturer</a></div>
                                <!--end::Text-->
                            </div>
                            <!--end::Header-->
                            <!--
                            <!--begin::Body-->
                            
                            <!--end::Body-->
                            
                        </div>
                        <!--eng::Container-->
                        <!--begin::Footer-->
                        <div class="d-flex flex-center" id="kt_sticky_toolbar_chat_toggler">
                          <a class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" data-target="#kt_chat_modal" asp-controller= "Topics" asp-action="Topics">View Course</a>
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Nav Panel Widget 4-->
        </div>       <div class="col-4">
            <!--begin::Nav Panel Widget 4-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url('https://www.freecodecamp.org/news/content/images/size/w2000/2021/08/chris-ried-ieic5Tq8YMk-unsplash.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Title-->
                                <div class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1" id="A1" runat="server">NewC</div>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="font-weight-bold text-dark-50 font-size-md pb-7" data-toggle="popover" data-placement="top" data-content="Course craeted by admin" data-original-title="" title="">
                                <div class="trunc">
                                <style>
                                .trunc{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 250px;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:56px;
}
                                </style>
                                Course craeted by admin
                                </div>
                                </div>
                                <div class="font-weight-bold text-dark-75 text-hover-primary font-size-h6 m-0 pt-7 pb-1">9/14/2021 - 1/19/2022</div>
                                <div class="font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1"><a href="student-chat-view.aspx">Super Admin</a></div>
                                <!--end::Text-->
                            </div>
                            <!--end::Header-->
                            <!--
                            <!--begin::Body-->
                            
                            <!--end::Body-->
                            
                        </div>
                        <!--eng::Container-->
                        <!--begin::Footer-->
                        <div class="d-flex flex-center" id="kt_sticky_toolbar_chat_toggler">
                          <a class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" data-target="#kt_chat_modal" asp-controller= "Topics" asp-action="Topics" >View Course</a>
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Nav Panel Widget 4-->
        </div></div>