@model VGC.Models.Topics
@{
    ViewData["Title"] = "TopicContent";
}

<h1>Id = @Model.TopicInfo</h1>

<div class="container">
<div>

                                    
    <div class="row">
        <div class="col-xxl-12">
            <!--begin::Forms Widget 8-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-flex align-items-center">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-45 symbol-light mr-5">
                            <span class="symbol-label">
                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Clipboard.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"></path>
                                            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"></path>
                                            <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1"></rect>
                                            <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1"></rect>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Info-->
                        <div class="d-flex flex-column flex-grow-1">
                            <a id="ContentPlaceHolder1_lblTitle" class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-bolder">WWII Quiz Pt 1</a>
                            <div class="d-flex">
                              
                                <div class="d-flex align-items-center">
                                    <span class="svg-icon svg-icon-md svg-icon-primary pr-1">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Layout/Layout-arrange.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M5.5,4 L9.5,4 C10.3284271,4 11,4.67157288 11,5.5 L11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L5.5,8 C4.67157288,8 4,7.32842712 4,6.5 L4,5.5 C4,4.67157288 4.67157288,4 5.5,4 Z M14.5,16 L18.5,16 C19.3284271,16 20,16.6715729 20,17.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,17.5 C13,16.6715729 13.6715729,16 14.5,16 Z" fill="#000000"></path>
                                                <path d="M5.5,10 L9.5,10 C10.3284271,10 11,10.6715729 11,11.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,12.5 C20,13.3284271 19.3284271,14 18.5,14 L14.5,14 C13.6715729,14 13,13.3284271 13,12.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span id="ContentPlaceHolder1_lblDescritption" class="text-muted font-weight-bold">P1 U.S. </span>
                                </div>
                            </div>
                        </div>
                        <!--end::Info-->

                    </div>
                    <!--end::Top-->
                    <!--begin::Bottom-->
                    <div class="pt-3">
                        <!--begin::Text-->
                        <h2 style="box-sizing: inherit; font-size: 32px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin-top: 10px; margin-bottom: 10px; color: rgb(0, 0, 0);">What is HTML?</h2>
                        
                        <ul style="box-sizing: inherit; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                            <li style="box-sizing: inherit;">HTML stands for Hyper Text Markup Language</li>
                            <li style="box-sizing: inherit;">HTML is the standard markup language for creating Web pages</li>
                            <li style="box-sizing: inherit;">HTML describes the structure of a Web page</li>
                            <li style="box-sizing: inherit;">HTML consists of a series of elements</li>
                            <li style="box-sizing: inherit;">HTML elements tell the browser how to display the content</li>
                            <li style="box-sizing: inherit;">HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</li>
                        </ul>

                        <h3 style="box-sizing: inherit; font-size: 24px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin-top: 10px; margin-right: 0px; margin-left: 0px; color: rgb(0, 0, 0);">Example Explained</h3>
                            
                          <ul style="box-sizing: inherit; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                             
                            <li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;!DOCTYPE html&gt;</code>&nbsp;declaration defines that this document is an HTML5 document</li>
                            <li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;html&gt;</code>&nbsp;element is the root element of an HTML page</li>
                            <li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;head&gt;</code>&nbsp;element contains meta information about the HTML page</li>
                            <li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;title&gt;</code>&nbsp;element specifies a title for the HTML page (which is shown in the browser's title bar or in the page's tab)</li>
                            <li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;body&gt;</code>&nbsp;element defines the document's body, and is a container for all the visible contents, such as headings, paragraphs, images, hyperlinks, tables, lists, etc.</li>
                            <li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;h1&gt;</code>&nbsp;element defines a large heading</li><li style="box-sizing: inherit;">The&nbsp;<code class="w3-codespan" style="box-sizing: inherit; font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15.75px; color: crimson; background-color: rgba(222, 222, 222, 0.3);">&lt;p&gt;</code>&nbsp;element defines a paragraph</li>
                          </ul>
                            <hr style="overflow: visible; margin-right: -16px; margin-left: -16px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                           
                            <h2 style="box-sizing: inherit; font-size: 32px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin-top: 10px; margin-bottom: 10px; color: rgb(0, 0, 0);">What is an HTML Element?</h2>
                           
                            <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">An HTML element is defined by a start tag, some content, and an end tag:</p>
                            <div style="box-sizing: inherit; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 20px; padding: 10px; margin-bottom: 10px;">
                                <span style="box-sizing: inherit; color: brown;">
                                <span style="box-sizing: inherit; color: mediumblue;">&lt;</span>tagname<span style="box-sizing: inherit; color: mediumblue;">&gt;</span></span>Content goes here...<span style="box-sizing: inherit; color: brown;"><span style="box-sizing: inherit; color: mediumblue;">&lt;</span>/tagname<span style="box-sizing: inherit; color: mediumblue;">&gt;</span></span></div>
                                <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">The HTML&nbsp;<span style="box-sizing: inherit; font-weight: bolder;">element</span>&nbsp;is everything from the start tag to the end tag:</p>
                                <div style="box-sizing: inherit; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 20px; padding: 10px; margin-bottom: 10px;">
                                    <span style="box-sizing: inherit; color: brown;">
                                    <span style="box-sizing: inherit; color: mediumblue;">&lt;<span style="box-sizing: inherit; color: brown;">h1</span>&gt;</span></span>My First Heading<span style="box-sizing: inherit; color: brown;"><span style="box-sizing: inherit; color: mediumblue;">&lt;</span>/h1<span style="box-sizing: inherit; color: mediumblue;">&gt;</span></span></div><div style="box-sizing: inherit; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 20px; padding: 10px; margin-bottom: 10px;">
                                    <span style="box-sizing: inherit; color: brown;"><span style="box-sizing: inherit; color: mediumblue;">&lt;</span>p<span style="box-sizing: inherit; color: mediumblue;">&gt;</span></span>My first paragraph.<span style="box-sizing: inherit; color: brown;"><span style="box-sizing: inherit; color: mediumblue;">&lt;</span>/p<span style="box-sizing: inherit; color: mediumblue;">&gt;</span></span></div>
                                        
                                    <table class="ws-table-all notranslate" style="box-sizing: inherit; width: 1017.66px; border: 1px solid rgb(204, 204, 204); margin: 20px 0px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
                                            <tbody style="box-sizing: inherit;">
                                                <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);">
                                                    <th style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">Start tag</th>
                                                    <th style="box-sizing: inherit; padding: 8px; vertical-align: top;">Element content</th>
                                                    <th style="box-sizing: inherit; padding: 8px; vertical-align: top;">End tag</th>
                                                </tr>
                                                <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);">
                                                    <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">&lt;h1&gt;</td>
                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">My First Heading</td>
                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">&lt;/h1&gt;</td>
                                                </tr>
                                                <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);">
                                                    <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">&lt;p&gt;</td>
                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">My first paragraph.</td>
                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">&lt;/p&gt;</td>
                                                </tr>
                                                <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);">
                                                    <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">&lt;br&gt;</td>
                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;"><em style="box-sizing: inherit;">none</em></td>
                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;"><em style="box-sizing: inherit;">none</em></td>
                                                </tr>
                                                </tbody>
                                                </table>
                                            <div class="w3-panel w3-note" style="box-sizing: inherit; padding: 16px 32px; margin: 24px -32px; background-color: rgb(255, 255, 204); border-left: none; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                                                <p style="box-sizing: inherit; margin-top: 1em; margin-bottom: 1em; font-size: 15px;">
                                                    <span style="box-sizing: inherit; font-weight: bolder;">Note:</span>&nbsp;Some HTML elements have no content (like the &lt;br&gt; element). These elements are called empty elements. Empty elements do not have an end tag!</p></div><hr style="overflow: visible; margin-right: -16px; margin-left: -16px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                                                    <div id="midcontentadcontainer" style="box-sizing: inherit; text-align: center; margin-left: -16px; margin-right: -16px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; overflow: auto;">
                                                        <div id="adngin-mid_content-0" style="box-sizing: inherit;"></div></div>
                                                        <hr style="overflow: visible; margin-right: -16px; margin-left: -16px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                                                        <h2 style="box-sizing: inherit; font-size: 32px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin-top: 10px; margin-bottom: 10px; color: rgb(0, 0, 0);">Web Browsers</h2>
                                                        <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">The purpose of a web browser (Chrome, Edge, Firefox, Safari) is to read HTML documents and display them correctly.</p>
                                                        <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">A browser does not display the HTML tags, but uses them to determine how to display the document:</p>
                                                        <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">
                                                            <img alt="View in Browser" src="https://www.w3schools.com/html/img_chrome.png" class="w3-image" style="box-sizing: inherit; border-style: none; max-width: 100%; height: auto;"></p><hr style="overflow: visible; margin-right: -16px; margin-left: -16px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                                                            <h2 style="box-sizing: inherit; font-size: 32px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin-top: 10px; margin-bottom: 10px; color: rgb(0, 0, 0);">HTML Page Structure</h2>
                                                            <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">Below is a visualization of an HTML page structure:</p>
                                                            <div style="box-sizing: inherit; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; width: 1007.47px; border: 1px solid grey; padding: 3px; margin: 0px; background-color: rgb(221, 221, 221);">&lt;html&gt;<div style="box-sizing: inherit; width: 899.525px; border: 1px solid grey; padding: 3px; margin: 20px;">&lt;head&gt;<div style="box-sizing: inherit; width: 802.362px; border: 1px solid grey; padding: 5px; margin: 20px;">&lt;title&gt;Page title&lt;/title&gt;</div>&lt;/head&gt;</div>
                                                            <div style="box-sizing: inherit; width: 899.525px; border: 1px solid grey; padding: 3px; margin: 20px;">&lt;body&gt;<div style="box-sizing: inherit; width: 802.362px; border: 1px solid grey; padding: 3px; margin: 20px; background-color: rgb(255, 255, 255);"><div style="box-sizing: inherit; width: 714.925px; border: 1px solid grey; padding: 5px; margin: 20px;">&lt;h1&gt;This is a heading&lt;/h1&gt;</div><div style="box-sizing: inherit; width: 714.925px; border: 1px solid grey; padding: 5px; margin: 20px;">&lt;p&gt;This is a paragraph.&lt;/p&gt;</div><div style="box-sizing: inherit; width: 714.925px; border: 1px solid grey; padding: 5px; margin: 20px;">&lt;p&gt;This is another paragraph.&lt;/p&gt;</div></div>&lt;/body&gt;</div>&lt;/html&gt;</div>
                                                            <div class="w3-panel w3-note" style="box-sizing: inherit; padding: 16px 32px; margin: 24px -32px; background-color: rgb(255, 255, 204); border-left: none; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;"><p style="box-sizing: inherit; margin-top: 1em; margin-bottom: 1em; font-size: 15px;"><span style="box-sizing: inherit; font-weight: bolder;">Note:</span>&nbsp;The content inside the &lt;body&gt; section (the white area above) will be displayed in a browser. The content inside the &lt;title&gt; element will be shown in the browser's title bar or in the page's tab.</p></div><hr style="overflow: visible; margin-right: -16px; margin-left: -16px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;"><h2 style="box-sizing: inherit; font-size: 32px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin-top: 10px; margin-bottom: 10px; color: rgb(0, 0, 0);">HTML History</h2>
                                                            <p style="box-sizing: inherit; margin-top: 1.2em; margin-bottom: 1.2em; font-size: 15px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif;">Since the early days of the World Wide Web, there have been many versions of HTML:</p><table class="ws-table-all notranslate" style="box-sizing: inherit; width: 1017.66px; border: 1px solid rgb(204, 204, 204); margin: 20px 0px; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);"><tbody style="box-sizing: inherit;"><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);"><th style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">Year</th><th style="box-sizing: inherit; padding: 8px; vertical-align: top;">Version</th></tr><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);"><td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">1989</td>
                                                                <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">Tim Berners-Lee invented www</td></tr><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);"><td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">1991</td><td style="box-sizing: inherit; padding: 8px; vertical-align: top;">Tim Berners-Lee invented HTML</td></tr><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);"><td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">1993</td><td style="box-sizing: inherit; padding: 8px; vertical-align: top;">Dave Raggett drafted HTML+</td></tr><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);"><td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">1995</td><td style="box-sizing: inherit; padding: 8px; vertical-align: top;">HTML Working Group defined HTML 2.0</td></tr><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);">
                                                                    <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">1997</td>
                                                                    <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">W3C Recommendation: HTML 3.2</td></tr>
                                                                    <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);">
                                                                        <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">1999</td>
                                                                        <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">W3C Recommendation: HTML 4.01</td></tr>
                                                                        <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);">
                                                                            
                                                                            <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2000</td>
                                                                            <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">W3C Recommendation: XHTML 1.0</td></tr>
                                                                            <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);">
                                                                                <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2008</td>
                                                                                <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">WHATWG HTML5 First Public Draft</td></tr>
                                                                         <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);">
                                                                                <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2012</td>
                                                                                <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">
                                                                                <a href="http://whatwg.org/html/" target="_blank" style="box-sizing: inherit; color: inherit;">WHATWG HTML5 Living Standard</a></td></tr>
                                                                    <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);"><td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2014</td>
                                                                        <td style="box-sizing: inherit; padding: 8px; vertical-align: top;"><a href="http://www.w3.org/TR/html5/" target="_blank" style="box-sizing: inherit; color: inherit;">W3C Recommendation: HTML5</a></td></tr>
                                                                    <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);"><td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2016</td>
                                                                        <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">W3C Candidate Recommendation: HTML 5.1</td></tr><tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221);">
                                                                <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2017</td>
                                                                <td style="box-sizing: inherit; padding: 8px; vertical-align: top;">
                                                                    <a href="http://www.w3.org/TR/html51/" target="_blank" style="box-sizing: inherit; color: inherit;">W3C Recommendation: HTML5.1 2nd Edition</a></td></tr>
                                                                    <tr style="box-sizing: inherit; border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(231, 233, 235);">
                                                                        <td style="box-sizing: inherit; padding: 8px 8px 8px 16px; vertical-align: top;">2017</td>
                                                                        <td style="box-sizing: inherit; padding: 8px; vertical-align: top;"><a href="http://www.w3.org/TR/html52/" target="_blank" style="box-sizing: inherit; color: inherit;">W3C Recommendation: HTML5.2</a></td></tr></tbody></table>
                                                                        <div class="w3-panel w3-note" style="box-sizing: inherit; padding: 16px 32px; margin: 24px -32px; background-color: rgb(255, 255, 204); border-left: none; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 15px;">
                                                                            <p style="box-sizing: inherit; margin-top: 1em; margin-bottom: 1em; font-size: 15px;">This tutorial follows the latest HTML5 standard.</p></div>
                        


                    </div>
                    <!--end::Bottom-->


                </div>
                <!--end::Body-->
            </div>

            <!--end::Body-->
        </div>

    </div>



    </div>
</div>