

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/VGC.styles.css" asp-append-version="true" />

<div class="card-body">
           

            <div>
	
                
        <table cellspacing="0" rules="all" css="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded" align-content="center" border="1" id="ContentPlaceHolder1_gvTopics" style="border-collapse:collapse;text-align: center; word-wrap: break-word; ">
		<tbody>
            <tr id="header">
			<th scope="col">Action</th>
            <th scope="col">Names</th>
            <th scope="col">Description</th>
            <th scope="col">Marks</th>
		</tr>


        <tr>
			<td> <a asp-controller="Topics" asp-action="TopicContent" > view</a></td>
            <td>HTML Intro</td>
            <td>Basic HTML intro</td>
            <td>20</td>
		</tr>

        <tr class="bottomBorder" style="border-width:0px;">
            
			<td> <a asp-controller="Topics" asp-action="TopicContent"  > view</a></td>
                
                <td>HTML Basic Examples</td>
                <td>Basic examples</td>
                <td>0</td>
		</tr>
        
        <tr>
			<td> <a asp-controller="Topics" asp-action="TopicContent"   > view</a></td>
            <td>Game Canvas</td>
            <td>Using the canvas</td>
            <td>0</td>
		
        </tr>
        
        <tr class="bottomBorder" style="border-width:0px;">
			<td> <a asp-controller="Topics" asp-action="TopicContent" > view</a></td>
                <td>Game Components</td>
                <td>Building the components used for a game</td>
                <td>0</td>
		</tr><tr>
			<td>
                            <input type="button" name="ctl00$ContentPlaceHolder1$gvTopics$ctl06$ctl00" value="" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$gvTopics$ctl06$ctl00','')" class="btn btn-primary  fa" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                        </td><td>Game Controllers</td><td>Building in game controllers</td><td>0</td>
		</tr><tr class="bottomBorder" style="border-width:0px;">
			<td>
                            <input type="button" name="ctl00$ContentPlaceHolder1$gvTopics$ctl07$ctl00" value="" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$gvTopics$ctl07$ctl00','')" class="btn btn-primary  fa" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                        </td><td>Game Obsticles</td><td>Placing obsticals in game</td><td>0</td>
		</tr><tr>
			<td>
                            <input type="button" name="ctl00$ContentPlaceHolder1$gvTopics$ctl08$ctl00" value="" onclick="javascript:__doPostBack('ctl00$ContentPlaceHolder1$gvTopics$ctl08$ctl00','')" class="btn btn-primary  fa" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                        </td><td>Game Score </td><td>Adding a scoreboard in game</td><td>0</td>
		</tr>
	</tbody>

    
    </table>
   
</div>

            <!--end: Datatable-->
        </div>
