
@model VGC.Views.ViewStudents.ViewStudentsModel
@{
    ViewData["Title"] = "ViewStudents";
}
<div class="card-body">
    <!--begin: Search Form-->
    <!--begin::Search Form-->
    
    <!--end::Search Form-->
    <!--end: Search Form-->
    <!--begin: Datatable-->
    <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded" id="kt_datatable" style="">
        <table class="datatable-table" style="display: block;">
            <thead class="datatable-head">
                <tr class="datatable-row" style="left: 0px;">
                    <th class="datatable-cell datatable-toggle-detail"><span></span></th>
                    <th data-field="StudentName" class="datatable-cell datatable-cell-sort"><span style="width: 250px;">Student</span></th>
                    <th data-field="StudentMarks" class="datatable-cell datatable-cell-sort"><span style="width: 118px;">Student Marks</span></th>
                    <th data-field="StudentId" class="datatable-cell datatable-cell-sort"><span style="width: 118px;">Student ID</span></th>
                </tr>
            </thead>
            <tbody class="datatable-body" style="">
                <!---LinkDatabasehereforstudent information-->
                
            </tbody>
        </table>
        <div class="datatable-pager datatable-paging-loaded">
            <ul class="datatable-pager-nav my-2 mb-sm-0">
                <li><a title="First" class="datatable-pager-link datatable-pager-link-first datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a></li>
                <li><a title="Previous" class="datatable-pager-link datatable-pager-link-prev datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li>
                <li style="display: none;"><input type="text" class="datatable-pager-input form-control" title="Page number"></li>
                <li style=""><a class="datatable-pager-link datatable-pager-link-number datatable-pager-link-active" data-page="1" title="1">1</a></li>
                <li style=""><a class="datatable-pager-link datatable-pager-link-number" data-page="2" title="2">2</a></li>
                <li style=""><a class="datatable-pager-link datatable-pager-link-number" data-page="3" title="3">3</a></li>
                <li style=""><a class="datatable-pager-link datatable-pager-link-number" data-page="4" title="4">4</a></li>
                <li style=""><a class="datatable-pager-link datatable-pager-link-number" data-page="5" title="5">5</a></li>
                <li><a title="Next" class="datatable-pager-link datatable-pager-link-next" data-page="2"><i class="flaticon2-next"></i></a></li>
                <li><a title="Last" class="datatable-pager-link datatable-pager-link-last" data-page="35"><i class="flaticon2-fast-next"></i></a></li>
            </ul>
            <div class="datatable-pager-info my-2 mb-sm-0">
                <div class="dropdown bootstrap-select datatable-pager-size" style="width: 60px;">
                    <div class="dropdown bootstrap-select datatable-pager-size" style="width: 60px;"><select class="selectpicker datatable-pager-size" title="Select page size" data-width="60px" data-container="body" data-selected="10"><option class="bs-title-option" value=""></option><option class="bs-title-option" value=""></option><option value="5">5</option><option value="10">10</option><option value="20">20</option><option value="30">30</option><option value="50">50</option><option value="100">100</option></select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="Select page size"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Select page size</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                    <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="Select page size">
                        <div class="filter-option">
                            <div class="filter-option-inner">
                                <div class="filter-option-inner-inner">10</div>
                            </div>
                        </div>
                    </button>
                    <div class="dropdown-menu ">
                        <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1">
                            <ul class="dropdown-menu inner show" role="presentation"></ul>
                        </div>
                    </div>
                </div><span class="datatable-pager-detail">Showing 1 - 10 of 350</span>
            </div>
        </div>
    </div>
    <!--end: Datatable-->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
