
@model VGC.Views.AddCourseContent.AddCourseContentModel
@{
    ViewData["Title"] = "AddCourseContent";
}


<h1>AddCourseContent</h1>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
